
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<h2>@ViewBag.Grupo</h2>
<h2>@ViewData["Materia"]</h2>
<h2>@ViewBag.valor</h2>

@*//null se pone para atrapar un valor, sustituir*@ 
@Html.ActionLink("Mi ruta","Index","Home",null,
    new {dato="",@class="btn btn-danger"})
