@model IDGS904_tema1.Models.OperasBas

@{
    ViewBag.Title = "Calcular";
}

<h2>Calcular</h2>
<div class="container">
    <div class="row div col-lg-6">
        <form action="/" method="POST">
            <label>Pon los numeros para poder realizar las operaciones:</label><br /><br />

            <label>Número 1:</label>
            <input type="number" name="Num1" value="" />
            <br />
            <label>Número 2:</label>
            <input type="number" name="Num2" value="" />
            <br /><br />
            <label>Selecciona la operacion que se va ha realizar:</label><br /><br />
            <p>
                <label>
                    Suma
                    <input name="calcular" type="radio" value="1" />
                </label>
                <label>
                    Resta
                    <input name="calcular" type="radio" value="2" />
                </label>
                <label>
                    Multiplicación
                    <input name="calcular" type="radio" value="3" />
                </label>
                <label>
                    División
                    <input name="calcular" type="radio" value="4" />
                </label>
            </p>

            <input type="submit" name="cal" value="calcular" border="30"/>

        </form>
    </div>
    <div class="row div col-lg-6">
        <h1>El resultado es: @Html.DisplayFor(model => Model.Res)</h1>
    </div>
</div>

