@model List<IDGS904_tema1.Models.Productos>

@{
    ViewBag.Title = "MuestraPulques";
}

<h2>MuestraPulques</h2>
<div>
    <table class="table table-striped">

        <thead>
            <th>Nombre</th>
            <th>Desccripcion</th>
            <th>Cantidad</th>
            <th>Produccion</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Produccion.ToString("dd/MM/yyyy")</td>

                </tr>
            }
        </tbody>
    </table>
</div>
