@model IDGS904_tema1.Models.Distancia

@{
    ViewBag.Title = "Distancia";
}

<h2>Distancia</h2>
<form action="/Distancia/Vista2">
                <label>Pon los numeros para poder realizar la distancia entre 2 puntos:</label><br /><br />

                <label>X1:</label>
                @Html.TextBoxFor(model => model.NumX1)
                <br />
                <label>Y1:</label>
                @Html.TextBoxFor(model => model.NumY1)
                <br /><br />
                <label>X2:</label>
                @Html.TextBoxFor(model => model.NumX2)
                <br />
                <label>Y2:</label>
                @Html.TextBoxFor(model => model.NumY2)
                <br /><br />
                <input type="submit" value="Calcular" class="btn btn-danger" />


           
       
</form>
    
